*.log
*.txt
!requirements.txt
*.mat
*.m
visualization/**/*.jpg
visualization/**/*.png
visualization/**/*.gif

*/__pycache__/
__pycache__/
backup/
crossViewModel/
figure/
forOpenPose/
log_new/
logfile/
matFile/
matFile_new/
ModelFile/
plotDict/
resultFile/
runs/
testlog/
venv-pytorch-1_6/
vis/
